body{
  background-color: #6B7280;
}
h1{
  margin-top: 40px;
  font-weight: bold;
}
form{
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
.search-input{
  padding:20px;
  padding-left: 35px;
  border-radius: 15px;
}
button{
  border-radius: 15px;
  padding:20px;
  font-weight: bold;
  background-color: #6B7280;
  margin-top: 15px;
}
